<div class="license-wrapper">
  <h1>Правила пользования </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aliquid consectetur consequatur consequuntur corporis dignissimos enim et fugit harum
    id inventore iste labore, laboriosam minima mollitia obcaecati odit provident quas qui quod tenetur.
    Architecto, consectetur modi? Accusantium, architecto asperiores aut autem consequatur dolore doloribus dolorum eaque, eius excepturi facere fugit illo illum impedit inventore ipsum iste iure labore laboriosam magni minima nesciunt nisi odit officia omnis quod recusandae repellat repudiandae sequi, similique tempore temporibus unde voluptas? Aliquid blanditiis consequatur delectus eius et in,
    iure magnam maxime perferendis quae quis tempora temporibus vel voluptatem voluptatum.
    Distinctio error nemo odit repellendus sed! Ab.</p>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, velit!</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est odit pariatur
    quam quas rem temporibus ullam? Commodi culpa cupiditate dolore doloremque ea
    enim eos facere harum illum ipsa, itaque iure magni, officia perspiciatis reprehenderit
    ullam voluptas? Accusantium adipisci aliquam cupiditate distinctio dolore doloremque doloribus
    dolorum eligendi, eveniet exercitationem expedita facilis id impedit itaque iusto libero maiores
    mollitia nemo neque nostrum obcaecati placeat possimus quaerat quia quis quod ratione, similique
    soluta unde vero. Accusantium commodi dicta fugit ipsa nam perspiciatis provident quae sint tempora vel.
    A ab ad animi architecto cumque deleniti dignissimos doloremque, dolores earum eveniet illo
    inventore laudantium maiores qui recusandae rerum sed sunt suscipit temporibus velit! Alias
    culpa nihil nobis possimus sit sunt voluptate. Ab accusantium alias amet architecto asperiores atque,
    blanditiis cum cupiditate, debitis delectus distinctio dolor ex, exercitationem expedita explicabo
    facilis illum itaque iure labore laborum nulla officia provident qui rerum sed soluta sunt temporibus
    totam ut vel veniam vitae voluptates voluptatibus. Animi eius ipsa iusto magni necessitatibus perspiciatis
    repellat! Animi excepturi iure non reiciendis sint. Ab assumenda atque consequatur dolore id minus,
    necessitatibus nisi nulla, obcaecati qui quidem reprehenderit suscipit temporibus tenetur totam ut vel!
    Atque ex excepturi facilis ipsum officiis quis quo recusandae. Accusamus amet dicta,
    eos est nulla placeat recusandae suscipit tempore ullam voluptatum? Ab aliquid blanditiis,
    consequatur culpa delectus dignissimos, dolor ducimus ea illum iste molestiae natus officia
    provident quas quis quod reprehenderit rerum suscipit tenetur voluptatum. Ab accusantium
    at cum eligendi eveniet ipsum nesciunt, officiis voluptatibus? Aliquam asperiores commodi culpa
    dicta ducimus error exercitationem facilis fugit id modi omnis quae quam ratione repellat similique sint, totam.
    Dignissimos esse ipsum sit totam. A, earum exercitationem expedita, maxime minima molestias mollitia
    natus optio perferendis quae, sequi temporibus vero! At delectus dolor doloribus eius, esse laborum
    libero magni minus molestias perferendis quae repellendus reprehenderit saepe, sed veniam voluptate
    voluptatibus! A aliquam aut, cum delectus deleniti, dolor, fuga fugiat maiores nisi odit omnis quibusdam
    quo recusandae repellendus sapiente totam veniam veritatis? Aliquid atque corporis eligendi laudantium?
    Animi aperiam assumenda blanditiis consectetur cum dicta dolore dolores dolorum eaque enim exercitationem
    facere facilis fuga fugit illum ipsam, iste labore libero maxime minus nemo neque non numquam perferendis,
    qui recusandae rerum sed temporibus, unde voluptates! Debitis dolor, dolore esse eum illo inventore ipsam
    nulla omnis quaerat quas quisquam reiciendis suscipit voluptates. Debitis deleniti ea, esse fuga incidunt
    ipsa laborum minima, mollitia neque nihil odit perferendis quibusdam quo similique soluta ut voluptatibus!
    Dicta dolore excepturi hic illo iure non nulla numquam similique sit veritatis. Aut cumque dignissimos excepturi
    minima odit officia suscipit ullam! Aliquid aperiam blanditiis consectetur corporis culpa cupiditate dolores
    esse facere incidunt ipsam, itaque, labore maxime minima nemo perferendis, quae ullam voluptates! Aut beatae earum
    et ex provident quae reiciendis repellat sit, sunt, temporibus ullam vero. Dicta error eum eveniet!</p>
  <button (click)="goToRegistration()">Назад к регистрации</button>
</div>
